*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.digit-btn {
    width: 4rem;
    height: 4rem;
    background-color: rgb(67, 66, 66);
    border-radius: 50%;
    margin: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
}
.operator-btn {
    width: 4rem;
    height: 4rem;
    background-color: orange;
    border-radius: 50%;
    margin: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4rem;
}
.clear-btn {
    width: 4rem;
    height: 4rem;
    background-color: rgb(67, 66, 66);
    border-radius: 50%;
    margin: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}
#console-el {
    color: #ffffff;
    font-weight: 600;
    font-size: 2rem;
    padding: 0rem 1rem;
}
